.n-wrapper {
    position: fixed;
    bottom: 30px;
    right: 10px;
    z-index: 99;
    .n-inner {
        position: relative;
        background-color: #181818;
        border-radius: 3px;
        border-left: 5px solid #8509fa;
        height: 75px;
        width: 400px;
        margin-bottom: 10px;
        p {
            padding: 10px;
        }
    }

    .n-progress-bar {
        width: 400px;
        height: 3px;
        background-color: rgb(85, 85, 85);
    }
}
